@media screen and (min-width: 400px) {
    .site-name{
        font-size: 1.8rem;
    }
    .btn-bars{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-collapse{
        width: 100%;
    }
    .navbar-nav{
        margin: 2rem 0;

    }
    .header-wrapper h3{
        font-size: 0.9rem;
        text-align: center;
    }
    .header-wrapper h1{
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        width: 100%;
    }
    .header-links{
        flex-direction: column;
    }
    .header-links a{
        font-size: 0.8rem;
        margin: 0.3rem;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .header-social-link{
         display: block;
    }
    
}

@media screen and  (min-width:992px){
    .header-wrapper{
        padding-left: 5rem;
    }
    .header-wrapper h1{
        font-size: 3.2rem;
        
    }
}



